---
import PostPreview from '@/components/blog/PostPreview.astro';
import Card from '../components/Card.astro';
import Label from '../components/Label.astro';
// import ProjectCard from '../components/ProjectCard.astro';
import Section from '../components/Section.astro';
import PageLayout from '../layouts/BaseLayout.astro';

import { Image } from 'astro:assets';
import mikaelBrevik from '../assets/mikaelbrevik.jpg';

import { getAllPosts, sortMDByDate } from '@/utils';
import Button from '@/components/Button.astro';
import { Icon } from 'astro-icon/components';
import { getPodcastData } from 'src/utils/pod';
import { getAllPresentations } from 'src/utils/presentation';
import PresentationCard from '@/components/PresentationCard.astro';

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const MAX_PRESENTATIONS = 4;
const allPresentations = await getAllPresentations();
const allPresentationsPri = allPresentations.slice(0, MAX_PRESENTATIONS);

const podcasts = await getPodcastData([
  'https://feeds.simplecast.com/UBBVMPjb',
  'https://feeds.transistor.fm/bartjs-podcast',
  'https://feeds.transistor.fm/lesehesten-utvikling',
]);
---

<PageLayout meta={{ title: 'Home' }}>
  <div class='flex w-full flex-col gap-y-10'>
    <section class='flex flex-col items-center gap-y-7'>
      <Image
        src={mikaelBrevik}
        alt='Photo of Mikael brevik'
        class='h-56 w-auto rounded-full bg-[#98fff3] p-1'
        loading='eager'
        widths={[120, 240, 360]}
        sizes={`(max-width: 240px) 120px, (max-width: 360px) 240px, 360px`}
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>Mikael Brevik</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='CTO @ Variant' as='a' href='https://www.variant.no/' target='_blank'>
            <Icon name='ph:briefcase-bold' slot='icon' />
          </Label>

          <Label
            title='Connect on Linkedin'
            as='a'
            href='https://www.linkedin.com/in/mikaelbrevik/'
            target='_blank'
          >
            <Icon name='ph:linkedin-logo-bold' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <Section title='Whoami'>
      <p class='text-muted-foreground'>
        Enthusiastic developer from Norway interested in programming languages and with an
        everlasting love of web technologies. Maintainer of open source projects, podcast host of
        BartJS Podcast, Kortslutning and more, maker of programming videos, writer of blogposts. CTO
        and co-founder of <a href='https://www.variant.no'>Variant</a>.
      </p>
    </Section>
    {
      allPostsByDate.length > 0 && (
        <Section title='Latest posts'>
          <ul class='flex flex-col gap-y-2'>
            {allPostsByDate.map((p) => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                <PostPreview as='div' post={p} />
              </li>
            ))}
          </ul>

          <div>
            <Button href='/blog' title='See all'>
              <Icon name='ph:arrow-right-bold' slot='icon-after' />
            </Button>
          </div>
        </Section>
      )
    }

    {
      podcasts.length > 0 && (
        <Section title='Podcasts'>
          {podcasts.map((p) => (
            <Card
              as='a'
              heading={p.title}
              subheading={p.description}
              imageClass='h-11 w-auto md:-left-16'
              href={p.url}
            >
              <p class='flex gap-2 align-middle'>
                <Icon name='ph:cards' size={24} />
                {p.numberOfEpisodes} episodes
              </p>
            </Card>
          ))}
        </Section>
      )
    }

    <Section title='Selected Presentations'>
      <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
        {
          allPresentationsPri.map((p) => (
            <PresentationCard href={p.data.url} content={p} class='w-full' />
          ))
        }
      </div>
      <!-- <div>
        <Button title='See more presentations' href='/blog'>
          <Icon name='ph:arrow-right-bold' slot='icon-after' />
        </Button>
      </div> -->
    </Section>

    <!-- <Section title='Selected projects'>
      <div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
        <ProjectCard
          href='https://www.google.com'
          heading='Consectetur'
          subheading='Lorem ipsum dolor sit amet consectetur adipisicing elit.'
          imagePath='/src/assets/coming-soon.png'
          altText='Example'
          class='w-full sm:w-1/2'
        />
        <ProjectCard
          as='div'
          heading='Coming soon...'
          subheading=''
          imagePath='/src/assets/coming-soon.png'
          altText='Lorem, ipsum dolor sit'
          class='w-full sm:w-1/2'
        />
      </div>
      <div>
        <Button title='See all projects on Github' href='/blog'>
          <Icon name='ph:arrow-right-bold' slot='icon-after' />
        </Button>
      </div>
    </Section> -->
  </div>
</PageLayout>
