---
import { cn } from '@/utils';
import type { HTMLTag, Polymorphic } from 'astro/types';
import { Image } from 'astro:assets';
import Icon from 'node_modules/astro-icon/components/Icon.astro';
import type { RepoStats } from 'src/utils/projects';
import Label from './Label.astro';

type Props<Tag extends HTMLTag> = Polymorphic<{
  as: Tag;
  project: RepoStats;
  class?: string;
}>;

const { as: Tag = 'a', class: className, project } = Astro.props;
---

<Tag
  class={cn(
    className,
    'flex flex-col gap-y-3 rounded-2xl border border-border bg-primary-foreground ',
    project.url && 'transition-all hover:border-foreground/25 hover:shadow-sm',
  )}
  href={project.url}
>
  {
    project.image && (
      <Image
        src={project.image}
        alt={project.name}
        role='none'
        class='h-24 w-full rounded-2xl rounded-bl-none rounded-br-none object-cover'
        loading='eager'
      />
    )
  }
  <div class='flex flex-col gap-y-0.5 px-5 py-4'>
    <h1 class='text-lg font-medium'>{project.name}</h1>
    <p class='text-muted-foreground'>{project.description}</p>

    <div class='mt-2 flex justify-start gap-4'>
      <Label title={project.stars.short} aria-label={`${project.stars.value} stars`}>
        <Icon name='ph:star-bold' slot='icon' />
      </Label>
      <Label title={project.forks.short} aria-label={`${project.forks.value} forks`}>
        <Icon name='ph:git-fork-bold' slot='icon' />
      </Label>
    </div>
  </div>

  <slot />
</Tag>
